@import '../../theme/palette';

.watchlistGrid {
  display: flex;
  justify-content: center;
  background-color: $paletteColor3;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 70px;

  .movieMenu {
    width: 80%;
    background-color: $paletteColor2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    padding-top: 70px;
  }

  .contentWrap {
    width: 80%;
    background-color: $paletteColor2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }
}