$paletteColor1: #E7959A;
$paletteColor2: #EFECD8;
$paletteColor3: #D5BEB2;
$paletteColor4: #653A59;
$paletteColor5: #9E6787;
$paletteColor6: #081c24;
$paletteColor7: #00E178;
$paletteColor8: #FF3D00;
$paletteColor9: #9B4FAA;
$paletteColor10: #9BFF4A;
$paletteColor11: #667667;
$paletteColor12: #4d4d4d;
$paletteColor13: #e3e3e3;
$paletteColor14: #ffffff;

//// RGBA
//$rgbaColor1: rgba(0, 0, 0, .1);
//$rgbaColor2: rgba(0, 0, 0, .2);
//
//// Gradients
//$gradient1: linear-gradient($paletteColor1, $paletteColor3);
//$gradient2: linear-gradient($paletteColor4, $paletteColor5);
