* {
  color: #000;
  font-weight: 400;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: normal;
  background: transparent;
}

p {
  margin: 0;
  padding: 0;
}

.movie {
  margin: 0 0 34px 34px;
  display: flex;
  align-items: center;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  width: 483px;
  background-color: #fff;
  box-sizing: border-box;

  .poster {
    line-height: 0;
    overflow: hidden;

    a {
      width: 100%;
      height: 100%;
      display: block;
      line-height: 0;
    }

    img {
      width: 185px;
      height: 278px;
      //will-change: opacity;
      //opacity: 0;
      transition: opacity 200ms;
    }
  }

  .info {
    width: 298px;
    height: 278px;
    position: relative;
    box-sizing: border-box;
    padding: 5px 8px 8px 8px;

    .infoHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .infoHeader_title {

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        padding-right: 20px;
      }

      .infoHeader_vote {
        padding-top: 0;
        margin-right: 0;
        display: inline-flex;
        align-items: center;
        top: 0;
        padding-left: 4px;
        color: #000;
        line-height: 0;
        font-size: 1.1em;

        &:after {
          content: '★';
          line-height: 30px;
          padding-left: 6px;
        }
      }
    }

    .meta_flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 0;
      font-size: 0.9em;


      .releaseDate {
        font-size: 1.0em;
        padding-right: 10px;
        display: inline-flex;
        align-items: center;
        color: #667;

        &:before {
          content: '📅';
          font-size: 20px;
          padding-right: 6px;
        }
      }

      .genres {
        padding-left: 1px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-style: italic;
        color: #667;
      }
    }

    .overview {
      word-wrap: break-word;
      color: #4d4d4d;
      font-size: 0.9em;
      line-height: 1.2em;
      margin-top: 20px;
      height: 6.2rem;
      display: block;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;


      //text-overflow: ellipsis;
      //white-space: normal;
      //overflow: hidden;
      //padding: 5px;

    }

    .infoFooter {
      border-top: 2px solid #e3e3e3;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      padding: 7px;

      .viewMore {

        box-sizing: border-box;
        width: 50%;
        font-size: 0.9em;
        font-weight: 400;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .likeMovie {
          &:before {
            content: '♥';
            font-size: 26px;
          }
        }

      .likedMovie {
        &:before {
          content: '♡';
          font-size: 26px;
        }
      }
      }
    }
  }




